@font-face {
    font-family: GothamBold;
    src: url(./assets/GothamRounded-Bold.woff);
}

@font-face {
    font-family: GothamMedium;
    src: url(./assets/GothamRounded-Medium.woff);
}

body {
    background-color: #fffeea;
    color: #2e2d7f;
    font-family: GothamMedium;
    margin: 0;
}

.logo-hold {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 260px;
    height: 70px;
    text-align: center;
}

#logo {
    height: 40px;
}

.logo-hold-bing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 200px;
    text-align: right;
}

input {
    padding: 10px;
    border-radius: 5px;
    height: 45px;
    border: 3px solid transparent;
    outline-style: none;
    font-family: GothamBold;
    color: #212121;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a.cdr-link {
    text-decoration: none;
}

a.cdr-link:hover {
    text-decoration: underline;
}

a:visited {
    color: #ffffff;
}

button {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    background: white;
    border-color: #DDDDDD;
    display: block;
    border-radius: 4px;
    padding: 10px;
    font-family: GothamBold;
    color: #212121;
}

#authBtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.inpt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 10px;
    font-family: GothamBold;
    color: #2e2d7f;
    text-align: center;
    font-size: 20px;
    border: 1px solid #2e2d7f;
}

#main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 4px solid #2e2d7f;
    padding: 35px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    border-radius: 20px;
}

.vert-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: inherit;
}

.vert-section2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#status_message.green {
    color: rgb(136, 255, 119);
}

#error_message {
    color: #dc2f51;
    padding-top: 40px;
    text-align: center;
}

#api_key {
    color: #ebae34;
}

#top-nav {
    width: 100%;
    height: 25px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    color: #fff;
    margin-bottom: 65px;
}

#logout-link {
    margin-left: auto;
    color: #dc2f51;
}

#logout-link:hover {
    color: #dc2f51;
}

.top-link {
    margin-right: 20px;
    margin-left: 20px;
    color: #e3e3e3;
    text-decoration: none;
    font-family: GothamMedium;
    font-size: 16px;
}

.top-link:hover {
    color: #fff;
}


.table {
    display: flex;
    flex-direction: column;
}

.toprow {
    font-weight: bold;
}

.table-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid white;
}

.table-column {
    display: block;
    width: 220px;
}

.table-column.top {
    color: #2e2d7f;
}

.summary-hold {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#connectBtn {
    width: 150px;
    display: inline-block;
}

.test-step {
    display: flex;
    flex-direction: row;
    width: 570px;
    min-height: 50px;
    border: 1px solid white;
    border-radius: 50px;
    margin-bottom: 20px;
}

.icn {
    width: 150px;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.message {
    width: 350px;
    padding: 20px;
}

.login-form {
    font-size: 12px;
    text-align: center;
}

#data-step {
    display: flex;
    flex-direction: column;
}

.data-step-message {
    width: 570px;
    display: flex;
    flex-direction: row;
}

.data-step-message-left {
    width: 150px;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    overflow-wrap: break-word;
    color: rgb(136, 255, 119);
}

.data-step-message-right {
    width: 350px;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    overflow-wrap: break-word;
}

#status {
    font-size: 58px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 40px;
}

.guide-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    margin-top: 50px;
}

.important {
    margin: 60px;
    display: block;
    width: 600px;
    border: 4px solid #ffa701;
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.important-word {
    color: #00a3d8;
    font-size: 22px;
    font-weight: bold;
}

.log_table {
    display: flex;
    flex-direction: column;
    width: 760px;
}

.log-file {
    display: flex;
    padding: 20px;
    width: 760px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.log-cell {
    display: block;
    padding: 10px;
    width: 200px;
    overflow: scroll;
    text-align: center;
}

.download-icn {
    width: 20px;
}

.circle-indicator {
    width: 8px;
    height: 8px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}

.circle-indicator.green {
    background-color: rgb(136, 255, 119);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(114,255,92,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(114,255,92,1);
    box-shadow: 0px 0px 5px 0px rgba(114,255,92,1);
}

.circle-indicator.red {
    background-color: #dc2f51;
    -webkit-box-shadow: 0px 0px 5px 0px #dc2f51;
    -moz-box-shadow: 0px 0px 5px 0px #dc2f51;
    box-shadow: 0px 0px 5px 0px #dc2f51;
}

/* loading spinner */

.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #2e2d7f;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }